:root {
  --cor-primaria-preta: #000000;
  --cor-primaria-branca: #FFFFFF;
  --cor-primaria-cinza: #CCCCCC;
  --cor-primaria-amarela: #DAFF01;
  --cor-primaria-roxa: #9353FF;
  --cor-complementar-vermelha: #EE6471;
  --cor-complementar-laranja: #F87F46;

  --fonte-regular: 400;
  --fonte-medium: 500;
  -fonte-bold: 700;
}
body{
  font-family: 'Inter', sans-serif;
  width:100vw;
}
@media (max-width: 375px) {
  body{
    overflow-x: hidden;
  }
}